@import 'vars.css';

/* .root {
  width: 100%;
  height: 100%;
  background-color: var(--cp-1);
  min-height: 0;
  min-width: 0; 
} */

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  height: 38px;
}

.name {
  padding: 0;
  margin: 0;
  font-weight: bold;
}

.control1 {
  padding: 1rem;
  background-color: var(--cp-5-t);
  margin: .2rem;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

.control1:hover {
  background-color: var(--cp-5);
}