:root {
  /* --color-primary-1: rgb(239, 255, 253);
  --color-primary-2: rgb(184, 255, 249);
  --color-primary-3: rgb(133, 244, 255);
  --color-primary-4: rgb(66, 194, 255); */

--cp-9: rgba(3, 4, 94, 1);
--cp-8: rgba(2, 62, 138, 1);
--cp-7: rgba(0, 119, 182, 1);
--cp-6: rgba(0, 150, 199, 1);
--cp-5: rgba(0, 180, 216, 1);
--cp-4: rgba(72, 202, 228, 1);
--cp-3: rgba(144, 224, 239, 1);
--cp-2: rgba(173, 232, 244, 1);
--cp-1: rgba(202, 240, 248, 1);
--cp-1-t: rgba(202, 240, 248, .8);
--cp-5-t: rgba(0, 180, 216, .2);


--gray: #34495e;
--darkgray: #2c3e50;
}
